rules_version = '2';

service cloud.firestore {

match /databases/{database}/documents {

// ==========================
// Records
// ==========================

match /records/{recordId} {

allow read: if request.auth != null;

allow create: if request.auth != null;

allow update: if request.auth != null;

allow delete: if false;

}

// ==========================
// Admins
// ==========================

match /admins/{adminId} {

allow read: if request.auth != null;

allow create: if request.auth != null;

allow update: if request.auth != null;

allow delete: if request.auth != null;

}

// ==========================
// Audit Log
// ==========================

match /audit/{logId} {

allow read: if request.auth != null;

allow create: if request.auth != null;

allow update,delete: if false;

}

}

}